* {
  border: 1px solid red;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  padding: 20px;
  width: 900px;
}

.title h1 {
  margin: 10px 0;
  font-size: 24px;
}

.alert {
  padding: 12px;
  margin-bottom: 10px;
  background-color: rgba(243, 195, 237, 0.911);
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container2 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.fieldset {
  margin-right: 20px;
  display: grid;
}

.fieldset.column1 {
  width: 350px;
}

.fieldset.column3 {
  width: 300px;
}

.btn-primary {
  margin-top: 20px;
}
